@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@300;400;500&display=swap');

:root {
    --lighter-gray: #f3f4f6;
    --light-gray: #6b7280;
    --medium-gray: #374151;
    --dark-gray: #111827;

    --white: #fff;
    --black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', sans-serif;
    color: var(--medium-gray);
}

.section {
    width: 100vw;
    height: 100vh;
    padding-top: 20rem;
    background-color: var(--lighter-gray);

    display: flex;
}

#dialog-box {
    width: 23rem;
    height: 15rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
        -4px -4px 10px rgba(0, 0, 0, 0.2);
}

.content > h3 {
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
    padding: 0.5rem 0.9rem;
    background-color: white;
    border-style: none;
    margin: 0 auto;
    border-radius: 0.2rem;
    align-self: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.content {
    margin-bottom: 5rem;
}

.content > h3 {
    margin-bottom: 1rem;
}

.action-btns {
    display: flex;
    justify-content: space-around;
}

.action-btns > span {
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.4rem 0.7rem;
}

.action-btns > span:hover {
    color: white;
    background-color: var(--light-gray);
}
